*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans';
 }

 
nav {
	position: sticky;
	top: 0;
	padding: 1rem;
	list-style-type: none;
	text-align: center;
	background-color: white;
	padding-right: 15rem;
}

nav .nav, nav .nav-logo {
	display: inline;
	margin: 0.5rem;
}	

nav .right-nav {
	display: inline;
	float: right;
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	font-weight: bold ;
	border-radius: 25px;
	font-size: 0.8rem;
	padding: 0.7rem 1rem 0.7rem 1rem;

}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 70rem;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 20rem;
	margin-bottom: 4rem;
}
.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 20rem;
	width: 70rem;
	margin-left: 12.5rem;

}

.container{
	text-align: right;
	color: white;
}

.title {
	font-family: 'Zilla Slab';
	font-size: 35px;
	margin-right: 100px;
	margin-left: 45%;
	margin-bottom: 1.5rem;
}

.subtitle{
	font-size: 20px;
	margin-right: 100px;
	margin-left: 55%;
	font-weight: 200;
	margin-bottom: 1rem;
}

.apply-button {
	color: white;
	background-color: #c2195b;
	font-weight: bold ;
	border-radius: 20px;
	font-size: 1rem;
	padding: 0.5rem 2rem 0.5rem 2rem;
	margin-right: 100px ;
}

.intro {
	width: 50%;
	margin-left: 25%;
}

.title-2 {
	text-align: center;
	font-family: 'Zilla Slab';
	margin-bottom: 2rem;	
}

.intro-description {
	font-size: 12px;
	margin-bottom: 4rem;
}

.pre-footer{
	padding-top: 10vh;
	background-color: #f7fbfb;
	width: 70rem;
	margin-left: 12.5rem;
	padding-bottom: 20vh;
}

.pre-footer + .title-2 {
 	line-height: 100px;
}

.prefooter-description {
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	margin-bottom: 16px;
	font-size: 12px;

}

.book-button {
	margin-left: 45%;
	color: white;
	background-color: #336589;
	font-weight: bold ;
	border-radius: 20px;
	font-size: 0.8rem;
	padding: 0.5rem 2rem 0.5rem 2rem;

}

footer{
	text-align: center;
	margin-bottom: 10vh;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}