#external-styling {
	color: yellow;
}

*{
	font-family: sans-serif;
	font-size: 15px;
}

h1 {
	font-size: 40px;
}

#h2 {
	text-transform: uppercase;
}

.languages{
	background-color: greenyellow;

}

li[attribute]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

img + ul {
	list-style-type: none;
}

#others img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

ul ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 10px;
}

